<nav class="main-nav">
    <ul class="nav-list">
        <li class="nav-item"><a href="{{ 'index.md' | relative_url }}">Home</a></li>

        <li class="nav-item"><a href="{{ 'about/aboutme.md' | relative_url }}">About Me</a></li>
        
        <li class="nav-item dropdown">
            <a href="#" class="dropdown-toggle">Topics</a>
            <ul class="dropdown-menu">
                <li><a href="{{ 'topics/cybersecurity.md' | relative_url }}">Cybersecurity</a></li>
                <li><a href="{{ 'na.md' | relative_url }}">Police and Technology</a></li>
                <li><a href="{{ 'na.md' | relative_url }}">Technology Regulation</a></li>
                <li><a href="{{ 'na.md' | relative_url }}">AI and Law</a></li>
            </ul>
        </li>
        
        <li class="nav-item dropdown">
            <a href="#" class="dropdown-toggle">Puclications and Talks</a>
            <ul class="dropdown-menu">
                <li><a href="{{ 'publications and talks/academicpublications.md' | relative_url }}">Academic Publications</a></li>
                <li><a href="{{ 'publications and talks/talks.md' | relative_url }}">Talks and Presentations</a></li>
                <li><a href="{{ 'na.md' | relative_url }}">Blog Posts etc.</a></li>
                <li><a href="{{ 'na.md' | relative_url }}">All</a></li>
            </ul>
        </li>
        
        <li class="nav-item"><a href="{{ 'na.md' | relative_url }}">Misc.</a></li>
    </ul>
</nav>

<!--
new section: 
<li class="nav-item dropdown">
    <a href="#" class="dropdown-toggle">Publications</a>
    <ul class="dropdown-menu">
        <li><a href="{{ '/publications/articles' | relative_url }}">Articles</a></li>
        <li><a href="{{ '/publications/books' | relative_url }}">Books</a></li>
    </ul>
</li>
-->